<!DOCTYPE html>
<html>
<head>
  <title>Masonic Music Timeline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="float: right" class='col-sm-4 pull-right'>
<% if user_signed_in? %>
 Logged in as <strong>
  <%= current_user.email %>
 </strong><br />
 <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => "btn btn-default btn-sm pull-right" %>  
              <% else %>
    <%=
    link_to "Sign up", new_user_registration_path, :class => "btn btn-default"
              %>
              <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default" %>
              <% end %>
            </div> <!-- /auth panel -->
            

<%= yield %>

</body>
</html>
